.header.panel.panel-default.panel-no-alpha
	.panel-body(style='position: relative;')
		.row.show-animate.show-fade.delay-3.hidden-xs(style='position: absolute; width: 100%; bottom: 0; margin-bottom: 15px;')
			.col-xs-12.col-sm-8.col-sm-offset-4.col-lg-9.col-lg-offset-3
				each link in navLinks
					a.btn.btn-default(href=link.href)
						i.fa(class='fa-' + link.icon)
						= ' '+link.title
		.row
			// desktop profile image
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-1.col-lg-2.show-animate.hide-left.hidden-xs(style='transition-delay: 0.1s;')
				a(href='/')
					img.profile-image.img-circle.img-responsive(src=github.avatar_url)
			.col-sm-8.col-md-8.col-lg-9.hidden-xs
				a.no-link(href='/')
					h1.show-animate.hide-up.no-margin-bottom(style='display: block;')= github.name
					h4.text-muted.show-animate.hide-up(style='display: block;')= info.description
				ul.social.list-inline.show-animate.hide-up
					each link in links
						li(data-toggle='tooltip', data-placement='bottom', title=link.title)
							a.btn.btn-primary(href=link.href, target='_blank')
								i.fa(class='fa-'+link.icon)

		include ./mobile-nav
