{{>header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body">
			{{#unless skill}}
			<p class="text-center" style="font-size: 10vw">
				404
			</p>
			{{/unless}}

			{{#if skill}}
			<div class="row">
				{{! desktop }}
				<div class="col-sm-2 no-padding-right hidden-xs">
					<a href="{{skill.tech.siteURL}}" target="_blank"><img class="img-responsive" src="{{skill.tech.thumbnail}}"/></a>
				</div>
				<div class="col-sm-10 col-md-10 col-lg-10 hidden-xs">
					<a href="{{skill.tech.siteURL}}" class="btn btn-info btn-sm pull-right" target="_blank"><i class="fa fa-globe"></i> Visit Site</a>
			  		<a href="{{skill.tech.siteURL}}" target="_blank" style="color: white; text-decoration: none;">
			  			<h2 class="no-margin-top">{{skill.tech.title}} <small>{{skill.tech.description}}</small></h2>
			  		</a>

			  		<p>{{skill.about}}</p>
				</div>

				{{! mobile }}
				<div class="col-xs-3 visible-xs">
					<a href="{{skill.tech.siteURL}}" target="_blank"><img class="img-responsive" src="{{skill.tech.thumbnail}}"/></a>
				</div>
				<div class="col-xs-9 visible-xs">
					<a href="{{skill.tech.siteURL}}" class="btn btn-info btn-sm pull-right" target="_blank"><i class="fa fa-globe"></i> Visit Site</a>
				</div>
				<div class="col-xs-12 visible-xs">
		  			<h3 class="no-margin-top">{{skill.tech.title}}<br><small>{{skill.tech.description}}</small></h3>

			  		<p>{{skill.about}}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-2">
					<small>Knowledge</small>
					<div class="progress no-margin-bottom">
						<div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{skill.knowledge}}%"></div>
					</div>
					<small>Experience</small>
					<div class="progress no-margin-bottom">
						<div class="progress-bar progress-bar-success progress-bar-striped" style="width: {{skill.experience}}%"></div>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="no-margin-top">Other Skills</h3>

			<div class="columns columns-sm-2 columns-md-3">
				{{#each otherSkills}}
				<div class="column">
					{{>skill}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
