<style>
#project-description h1:first-of-type,
#project-description h2:first-of-type,
#project-description h3:first-of-type,
#project-description h4:first-of-type,
#project-description h5:first-of-type,
#project-description h6:first-of-type,
#project-description h7:first-of-type,
#project-description h8:first-of-type{
	margin-top: 0;
}
</style>

{{>header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body">
			{{#unless project}}
			<p class="text-center" style="font-size: 10vw">
				404
			</p>
			{{/unless}}

			{{#if project}}
			<div class="hidden-xs">
				<div class="btn-group pull-right">
					<a href="/projects/demo?id={{project.id}}" class="btn btn-success">Demo</a>
					<a href="{{project.sourceURL}}" class="btn btn-info" target="_blank"><i class="fa fa-code"></i> Source</a>
				</div>
		  		<h2 class="no-margin-top">{{project.title}}</h2>
			</div>

			<div class="row">
				{{! desktop }}
				<div id="project-description" class="col-xs-12 hidden-xs">
					<img class="pull-left col-xs-4 no-padding-left" src="{{project.thumbnail}}"/>
					{{&projectDescription}}
				</div>

				{{! mobile }}
				<div class="col-xs-12 visible-xs">
					<img class="img-responsive" src="{{project.thumbnail}}"/>
					<div class="page-header no-margin-bottom no-margin-top">
		  				<h3 class="text-center visible-xs">{{project.title}}</h3>
					</div>
				</div>
				<div class="col-xs-12 visible-xs"><p>{{&projectDescription}}</p></div>
				<div class="col-xs-8 col-xs-offset-2 visible-xs">
					<div class="btn-group btn-group-justified">
						{{#if project.demoURL}}<a href="/projects/demo?id={{project.id}}" class="btn btn-success">Demo</a>{{/if}}
						<a href="{{project.sourceURL}}" class="btn btn-info" target="_blank"><i class="fa fa-code"></i> Source</a>
					</div>
				</div>
			</div>

			{{#if project.used.length}}
			<h3 class="hidden-xs">Technologies Used</h3>
			<h3 class="text-center visible-xs">Technologies Used</h3>

			<div class="row">
				{{#each project.used}}
				<div class="col-xs-12 col-sm-6 col-md-4">
					{{#with tech}}
						{{>technology amount=../amount}}
					{{/with}}
				</div>
				{{/each}}
			</div>
			{{/if}}

			{{#if project.media.length}}
			<h3 class="no-margin-top hidden-xs">Screen Shots</h3>
			<h3 class="text-center no-margin visible-xs">Screen Shots</h3>

			<div class="row">
				{{#each project.media}}
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
					<a class="thumbnail" target="_blank" href="{{src}}" data-image-modal="{{src}}">
						<img class="img-responsive" src="{{thumbnail}}">
					</a>
				</div>
				{{/each}}
			</div>
			{{/if}}
			{{/if}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="hidden-xs no-margin-top">Other Project</h3>
			<h3 class="visible-xs no-margin text-center">Other Project</h3>

			<div class="row">
				{{#each otherProjects}}
				<div class="col-xs-12">
					{{>project}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
