{{>header}}

<div class="container no-padding-xs">
	<div class="panel panel-default">
		<div class="panel-body">
			{{#unless viewWork}}
			<p class="text-center" style="font-size: 10vw">
				404
			</p>
			{{/unless}}

			{{#if viewWork}}
			<div class="hidden-xs">
				{{! desktop header }}
				<div class="btn-group pull-right">
					<a href="/work/demo?id={{viewWork.id}}" class="btn btn-success">Demo</a>
					<a href="{{viewWork.siteURL}}" class="btn btn-info" target="_blank"><i class="fa fa-globe"></i> WebSite</a>
				</div>
		  		<h2 class="no-margin-top">{{viewWork.title}}{{#if company}} <small>by {{company}}</small>{{/if}}</h2>
			</div>

			<div class="row">
				{{! desktop thumbnail}}
				<div class="col-xs-2 hidden-xs">
					<img class="img-responsive" src="{{viewWork.thumbnail}}"/>
				</div>
				<div class="col-xs-10 hidden-xs">{{viewWork.description}}</div>

				{{! mobile thumbnail with header}}
				<div class="col-xs-12 visible-xs">
					<div class="page-header no-margin-bottom no-margin-top">
		  				<h2 class="text-center visible-xs no-margin-top">{{viewWork.title}}{{#if company}} <small>by {{company}}</small>{{/if}}</h2>
					</div>
				</div>
				<div class="col-xs-12 visible-xs"><p>{{viewWork.description}}</p></div>
				<div class="col-xs-8 col-xs-offset-2 visible-xs">
					<div class="btn-group btn-group-justified">
						{{#if viewWork.demoURL}}<a href="/work/demo?id={{viewWork.id}}" class="btn btn-success">Demo</a>{{/if}}
						<a href="{{viewWork.siteURL}}" class="btn btn-info" target="_blank"><i class="fa fa-globe"></i> WebSite</a>
					</div>
				</div>
			</div>

			{{#if viewWork.used.length}}
			<h3 class="hidden-xs">Technologies Used</h3>
			<h3 class="text-center visible-xs">Technologies Used</h3>

			<div class="columns columns-sm-2 columns-md-3">
				{{#each viewWork.used}}
				<div class="column">
					{{#with tech}}
						{{>technology amount=../amount}}
					{{/with}}
				</div>
				{{/each}}
			</div>
			{{/if}}

			{{! videos }}
			{{#if viewWork.videos.length}}
			<h3 class="no-margin-top hidden-xs">Videos</h3>
			<h3 class="text-center no-margin visible-xs">Videos</h3>

			<div class="columns columns-sm-2 columns-md-3 columns-lg-4">
				{{#each viewWork.videos}}
				<div class="column">
					<a class="thumbnail no-link no-margin" target="_blank" href="https://www.youtube.com/watch?v={{id}}" data-video-modal="{{id}}">
						<i class="fa fa-5x fa-play-circle overlay-icon"></i>
						<img class="img-responsive" src="https://img.youtube.com/vi/{{id}}/hqdefault.jpg">
						<h5 class="text-center">{{title}}</h5>
					</a>
				</div>
				{{/each}}
			</div>
			{{/if}}

			{{! screenshots }}
			{{#if viewWork.screenshots.length}}
			<h3 class="no-margin-top hidden-xs">Screen Shots</h3>
			<h3 class="text-center no-margin visible-xs">Screen Shots</h3>

			<div class="columns columns-sm-2 columns-md-3 columns-lg-4">
				{{#each viewWork.screenshots}}
				<div class="column">
					<a class="thumbnail no-margin" target="_blank" href="{{src}}" data-image-modal="{{src}}">
						<i class="fa fa-5x fa-search-plus overlay-icon"></i>
						<img class="img-responsive" src="{{thumbnail}}">
					</a>
				</div>
				{{/each}}
			</div>
			{{/if}}
			{{/if}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h3 class="hidden-xs no-margin-top">Other Project</h3>
			<h3 class="visible-xs no-margin text-center">Other Project</h3>

			<div class="row">
				{{#each otherProjects}}
				<div class="col-xs-12">
					{{> work-project}}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{>footer}}
