include /includes/mixins

+page(project.name + ' Demo')
	.container.no-padding-xs
		.panel.panel-default
			.panel-body
				if project
					.btn-group.pull-right.hidden-xs
						a.btn.btn-success(href=project.sourceURL, target="_blank")
							i.fa.fa-code
							|  Source
						a.btn.btn-info(href=project.demoURL, target="_blank")
							i.fa.fa-reply(style="transform: scaleX(-1)")
							|  Open
					h2.no-margin-top
						a.btn.btn-default(href="/projects")
							i.fa.fa-arrow-left
							|  Back
						= ' '+project.title
					iframe(src=project.demoURL, style="width: 100%; height: 90vh; border: none;", sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation")
					.btn-group.btn-group-justified.visible-xs
						a.btn.btn-success(href=project.sourceURL, target="_blank")
							i.fa.fa-code
							|  Source
						a.btn.btn-info(href=project.demoURL, target="_blank")
							i.fa.fa-codepen
							|  More Pens
