<div class="row padding-bottom-10">
	<div class="col-xs-12 visible-xs">
		<h4>{{title}}</h4>
	</div>
	<div class="col-xs-6 col-sm-4">
		<a href="{{openURL}}" target="_blank">
			<img class="img-responsive" src="{{thumbnail}}"/>
		</a>
	</div>
	<div class="col-xs-6 col-sm-6 no-padding-left">
		<h4 class="no-margin-top hidden-xs">{{title}}</h4>
		<p>{{description}}</p>
		{{#if tags}}
		<span class="label label-{{type}}">{{message}}</span>
		{{/if}}
	</div>
	<div class="col-xs-12 col-lg-2">
		<div class="btn-group pull-right">
			<a href="{{openURL}}" class="btn btn-default btn-success" target="_blank">Open</a>
		</div>
	</div>
</div>
