<a href="{{siteURL}}" target="_blank" class="no-link">
	<div class="panel panel-grey hover-shadow no-margin">
		<div class="panel-body">
			<div class="row">
				{{#if thumbnail}}
				<div class="col-xs-3 no-padding-right">
					<img class="img-responsive" src="{{thumbnail}}">
				</div>
				<div class="col-xs-9">
					<h4 class="no-margin-top">{{title}}</h4>
					<p class="no-margin-bottom">{{description}}</p>
				</div>
				{{/if}}

				{{#unless thumbnail}}
				<div class="col-xs-12">
					<h4 class="no-margin-top">{{title}}</h4>
					<p class="no-margin-bottom">{{description}}</p>
				</div>
				{{/unless}}

				{{#if amount}}
				<div class="col-xs-12">
					<small><b>Amount Used</b></small>
					<div class="progress no-margin-bottom">
						<div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{amount}}%"></div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</a>
