mixin project(project)
	.row.padding-bottom-10
		.col-xs-12.visible-xs
			h4= project.title
		.col-xs-6.col-sm-4
			a(href="/projects/"+project.id)
				if project.videoThumbnail
					i.fa.fa-play-circle.overlay-icon.overlay-icon-hide
					video.play-on-hover.img-responsive(rate="2", looppause="1", preload="auto", src=project.videoThumbnail)
				else
					img.img-responsive(src=project.thumbnail)

		.col-xs-6.col-sm-8.no-padding-left
			.btn-group.btn-group-sm.pull-right.hidden-xs
				a.btn.btn-default.btn-default(href="/projects/"+project.id)
					i.fa.fa-info-circle
					|  More Info
				if project.demoURL
					a.btn.btn-default.btn-success(href="/projects/demo?id="+project.id)
						span= project.demoTextx || 'Online Demo'

				if project.sourceURL
					a.btn.btn-default.btn-info(href=project.sourceURL, target="_blank")
						if project.sourceText
							span= project.sourceText
						else
							i.fa.fa-code
							|  Source

			a.no-link(href="/projects/"+project.id)
				h4.no-margin-top.hidden-xs= project.title
				p= project.description
		if project.demoURL
			.col-xs-12.hidden-xs(style="height: 0;")
				.row
					.col-xs-12.col-sm-8.col-sm-offset-4.no-padding-left
						a.btn.btn-success(href="/projects/demo?id="+project.id, style="transform: translateY(-100%) translateY(-10px);")
							span= project.demoText || "Online Demo"
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.btn-group.btn-group-sm.btn-group-justified.visible-xs.margin-top-10
				a.btn.btn-default.btn-default(href="/projects/"+project.id)
					i.fa.fa-info-circle
					|  More Info
				if project.demoURL
					a.btn.btn-default.btn-success(href="/projects/demo?id="+project.id) Demo
				if project.sourceURL
					a.btn.btn-default.btn-info(href=project.sourceURL, target="_blank")
						i.fa.fa-code
						|  Source
